chispa
pytest
pytest-cov
sqlalchemy==2.0.29
pyarrow>=15.0.0
pydantic>=2.8.0
polars>=0.20.21,<1.7
pandas>=2.2.0
pyspark>=3.5.0
delta-spark>=3.1.0
snowflake-snowpark-python>=1.12.1
sqlalchemy-bigquery>=1.11.0
pyisemail
email-validator==1.2.1