pre-commit
black
pycln
isort
chispa
pytest
pytest-cov
sphinx_rtd_theme
sphinx-automodapi
sphinx-tabs
sqlalchemy==2.0.29
pydantic>=2.8.0
polars>=0.20.21
pandas>=2.2.0
pyspark>=3.5.0
pyarrow>=15.0.0
delta-spark>=3.1.0
snowflake-snowpark-python>=1.12.1
sqlalchemy-bigquery>=1.11.0
